[2014-12-23 19:57] abbeycode opened #1 "File deletion should happen in-place"
The `-deleteFile:error:` method currently copies all files from the archive to a new archive, excluding the file being deleted. It would be better to update the archive in-place, removing the data of the deleted file, and updating the central directory entry.

This causes it to be much slower. Not only is it a file copy, but because that can take a while, it's only done after checking that the fil

[2015-01-28 05:11] gregcotten opened #2 "Extracting an entire archive into a folder results in an Error"
Error Domain=UZKErrorDomain Code=104 "The operation couldn’t be completed. Error extracting files from the archive" UserInfo=0x618000477640 {NSLocalizedFailureReason=Error extracting files from the archive}

Thoughts?

[2015-01-28 13:05] abbeycode commented on #2
Would you be able to send a link to the file you're having problems with? And does it open fine with other Unrar libraries/apps?

[2015-01-28 17:46] gregcotten commented on #2
@abbeycode

Here it is! https://github.com/ampas/aces-dev/archive/v1.0.zip

I ended up using NSTask with /usr/bin/ditto (ugh). Would love to replace it with a more elegant solution.

[2015-01-28 18:11] abbeycode commented on #2
Thanks for that. I'll take a look as soon as I can. Did you try stepping into the code yet, to see what is happening inside UnzipKit?

[2015-01-28 18:20] gregcotten commented on #2
I did. Sorry for the terse issue - wasn’t at my computer when I sent it. The error comes when I extract the entire archive to a destination. When it tries to write the NSData of the first file to the destination folder, the writeToURL:... writeSuccess is NO.

I think this is happening at [line 295 in UZKArchive.m](https://github.com/abbeycode/UnzipKit/blob/master/Source/UZKArchive.m#L295).

[code]

[2015-01-28 18:34] abbeycode commented on #2
Definitely looks like a bug. It's trying to write a directory out as a file, which is failing. That should be simple enough to patch up. Thanks for the report!

[2015-01-28 20:12] abbeycode commented on #2
This should be fixed in v1.0.2, out now on CocoaPods. Let me know if it works for you.

[2015-01-28 20:12] #2 closed

[2015-01-28 20:14] gregcotten commented on #2
@abbeycode Thanks! Looks like it should be good. I'll try it out.

[2015-02-16 16:16] abbeycode opened #3 "NSError messages should contain more detail when possible"
As of v1.0.2, additional error info is buried in the console output, which isn't super helpful. Many times, all a user will see is an error message, which should communicate enough information to help debug what's happening when sent to the developer in a bug report.

Rewrite the `-assignError:code:` method to also take a string argument, which provides more detail in the localized failure reason.

[2015-02-20 03:16] abbeycode opened #4 "Unable to access the same archive object cross-thread"
This causes a `UZKErrorCodeFileNavigationError` error ("Error navigating through the archive")

[2015-02-20 04:04] abbeycode commented on #4
What causes the error is that `unz64local_getLong()` in unzip.c returns the wrong value for `pX`, which gets assigned to `uMagic` in `unz64local_GetCurrentFileInfoInternal()`, and compared to the constant **0x02014b50**. This happens correctly during the call to `unzOpen()`, but then fails in `unzGoToFirstFile()`.

The test case I committed in the issue4 branch succeeds if you set `queue.maxConcur

[2015-02-22 21:20] abbeycode commented on #4
It turns out that I made a copy/paste error in my unit test, so that the same archive object was being accessed cross-thread. I fixed the test, but also made the code no longer crash in that original scenario by synchronizing.

[2015-02-22 21:20] abbeycode commented on #4
Released in v1.0.3

[2015-02-22 21:20] #4 closed

[2015-02-23 21:42] abbeycode commented on #3
Fix released in v1.1

[2015-02-23 21:42] #3 closed

[2015-02-23 23:39] abbeycode opened #5 "Extracting data while enumerating through file list leaks file handles"

[2015-02-25 19:49] abbeycode commented on #5
Fix released in v1.1.1

[2015-02-25 19:49] #5 closed

[2015-02-26 03:43] abbeycode opened #6 "Add support for reading and writing Zip comments"
It looks like MiniZip provides `unzGetGlobalComment()` and `zipClose(file, global_comment)`

[2015-02-26 15:44] abbeycode commented on #6
Released in v1.1.2

[2015-02-26 15:44] #6 closed

[2015-03-27 23:33] abbeycode opened #7 "Add method to check if a file is a ZIP archive"
This Stack Overflow answer tells how:

http://stackoverflow.com/a/1887113/105717

[2015-03-28 17:00] abbeycode commented on #7
Implemented in v1.2

[2015-03-28 17:00] #7 closed

[2015-04-08 06:56] K-Be opened #8 "Support for iOS 7 deployment target"
You have ios deployment target in podspec is 8.0. Can you change it to ios 7.0?

[2015-04-08 14:52] abbeycode commented on #8
I'm taking a look now - I'll let you know when I have something. I wouldn't want to open it up to a wider range without verifying it builds. I'm adding an iOS demo app that I can have Travis build, and fixing any compiler issues that turn up.

[2015-04-09 13:49] abbeycode commented on #8
This has been addressed in v1.2.1, which I just released. Thanks for the suggestion!

[2015-04-09 13:49] #8 closed

[2015-04-10 03:04] K-Be commented on #8
Thank you.

[2015-05-04 22:28] nbeadman opened #9 "Improve API for writing buffer to allow for files that cannot be contained in memory"
The current `-[UZKArchive writeIntoBuffer:CRC:fileDate:compressionMethod:password:overwrite:error:block:]` method requires that the CRC for the entire file be calculated before the method is called.

In all of the documentation/sample code this is done by creating an NSData of an entire file contents and then running that through `crc32()`.

If you are going to create an NSData then why not use `-

[2015-05-04 22:47] abbeycode commented on #9
Thanks for the feedback. I'll take a look when I have a chance, and let you know what I find. Let me know if you have any suggestions.

[2015-05-04 23:25] abbeycode commented on #9
It looks like I should be able to calculate the CRC's from multiple chunks of data using the `crc32_combine()` method. I'll let you know if I can get something working.

[2015-05-04 23:27] nbeadman commented on #9
I see two possible approaches:

* add API that takes an `NSInputStream` and calculates the CRC as it goes
* update the `NSData` to handle very large memory mapped files (created using `NSDataReadingUncached + NSDataReadingMappedAlways`

Thinking about it, there is a possibility that the current `NSData` API will fail with NSData that contain more than 4G of data because `crc32()` takes a uInt aka

[2015-05-04 23:28] nbeadman commented on #9
`crc32_combine()` will help but you can call `crc32()` with the first parameter being the current CRC anyway. The bigger issue is the API.

[2015-05-05 03:15] abbeycode commented on #9
I implemented a solution in the issue9 branch. Can you take a look and see if that will work for you?

[2015-05-05 22:08] nbeadman commented on #9
The solution you have implemented works fine.

My only issue is that there is no way for the action block to provide an error. In my case I am going to use a NSInputStream and am reading in to a buffer and then calling the write block. However, if the stream read fails then there is no way to terminate the operation and provide an error (which could be possibly be used in a NSUnderlyingErrorKey.

[2015-05-11 18:57] abbeycode commented on #9
Good call! That was a glaring oversight. I've added it to the issue9 branch. Once it looks good to you, I can merge to trunk and cut a new CocoaPods release.

[2015-05-11 21:26] nbeadman commented on #9
That was actually very close (all except parameter names!) to the pull-request I was just about to submit.

[2015-05-11 21:35] abbeycode commented on #9
Very cool, sorry for the wasted effort. I'll close out the issue once I release it out. Should be soon.

[2015-05-11 21:38] nbeadman commented on #9
Don't worry about it all. UnzipKit is great and the fact that it is under active development seals the deal. I am getting more familiar with it and next time I won't ask for help but submit a pull-request :-)

[2015-05-12 01:43] abbeycode commented on #9
Awesome, good to have you onboard. I just pushed v1.3 to CocoaPods, so you can give it a shot there.

[2015-05-12 01:43] #9 closed

[2015-05-12 16:42] nbeadman commented on #9
Just a data point, I don't use CocoaPods just a git submodule. Have you considered Carthage?

https://github.com/Carthage/Carthage

[2015-05-12 16:49] abbeycode commented on #9
Interesting, I hadn't heard of it before. I take it that UnzipKit is already Carthage-compatible?

[2015-05-12 16:55] nbeadman commented on #9
That I don't know but I think it would be. Carthage wants to build frameworks which UnzipKit already is. This is something that is on my list of things to look at. If you have time the following talk gives you a relatively quick rundown:

http://realm.io/news/swift-dependency-management-with-carthage/
https://github.com/jspahrsummers/carthage-talk

You can either watch the video or read the transc

[2015-06-10 21:43] aventurella commented on #9
+1 for Carthage support

[2015-06-15 14:07] abbeycode opened #11 "Support Carthage for dependency management"
Add support for the [Carthage](https://github.com/Carthage/Carthage) decentralized dependency manager.

* Evaluate the degree to which it already works
* Add metadata necessary to make it fully work

Thanks to @nbeadman and @aventurella for the suggestion (in [comments](https://github.com/abbeycode/UnzipKit/issues/9#issuecomment-101344323) on [another](https://github.com/abbeycode/UnzipKit/issues/

[2015-06-16 07:33] iblacksun opened #12 "UZKArchive doesn't support password?"
1. Call `UZKArchive.zipArchiveAtPath(zipFilePath, password: "111111")` to create a zip file
2. Call `zipArchive.writeData(data, filePath: file, error: &error)` to write data to zip file

The file is created successfully, but when I unzip the file use iZip, it prompts that the password cannot unzip with "111111".

[2015-06-16 13:44] abbeycode commented on #12
Based on the code you gave, it looks like you're using Swift. Is that correct?

[2015-06-16 15:11] iblacksun commented on #12
@abbeycode You are right.

[2015-06-16 15:13] abbeycode commented on #12
I'm taking a look - so far, I confirmed that a file written with `111111` as the password opens using BetterZip (I don't have iZip). I'm writing a test case in Swift now to see if that's possibly what's causing the bug. I'll let you know.

[2015-06-16 18:45] abbeycode commented on #12
I created a branch, [Issue12](https://github.com/abbeycode/UnzipKit/tree/issue12), with new Swift and Obj-C test methods named `testWriteData_PasswordProtected`. Even though the files extract successfully using BetterZip for me, I was able to verify they don't extract using the `unzip` command line tool (and it doesn't seem like Swift is a factory, though I wrote the test cases in both languages).

[2015-06-17 13:53] abbeycode commented on #12
I see a bunch of different apps named "iZip" - could you provide a link to the one you use?

[2015-06-17 14:25] pieterclaerhout opened #13 "isPasswordProtected is not always correct"
From what I see in the code, only the first file is checked to see if the zip file is password protected.

However, if I'm not mistaking, the encryption flag is file specific, so if the first file is not using a password, you will get the incorrect result.

Any idea what would be the best way to fix this?

[2015-06-17 15:33] abbeycode commented on #13
That's a good point - that method should return YES if any file has a password. I'll incorporate that into the next release.

[2015-06-17 15:45] abbeycode opened #14 "Password not passed in for `-writeData...` overload"
The overload below passes `nil`, instead of the `password` it was given, to the actual implementation:

[code]

[2015-06-17 16:08] #14 closed

[2015-06-17 16:18] abbeycode opened #15 "Per-file passwords are ignored"
There's a bug in the `-performWriteAction...` method that causes all file-specific passwords to be overridden by an archive-wide password.

[2015-06-17 16:28] #15 closed

[2015-06-17 16:51] abbeycode commented on #13
I made a fix in [issue13](https://github.com/abbeycode/UnzipKit/tree/issue13) branch. Take a look and let me know if that works for you!

[2015-06-18 01:52] iblacksun commented on #12
@abbeycode Here is it. https://itunes.apple.com/us/app/izip-zip-unzip-tools-for-archive/id412758079?mt=12&ign-mpt=uo%3D4

[2015-06-18 07:35] pieterclaerhout commented on #13
Cool, works like a charm now! Thanks.

[2015-06-18 16:06] abbeycode commented on #12
Thanks. I had sent an email to the wrong iZip at first, and am unable to use T-Bone's contact form (the CAPTCHA is broken), but I was also able to reproduce the failure with WinZip for Mac and PC, so hopefully they can help point me in the right direction.

[2015-06-22 16:34] abbeycode commented on #12
This has been merged into master, and will be included in v1.4 of UnzipKit. Thanks for pointing this out! I'll send a final update once 1.4 is pushed to CocoaPods.

[2015-06-22 16:45] abbeycode commented on #13
This fix has been released in v1.4, now live on CocoaPods

[2015-06-22 16:45] #13 closed

[2015-06-22 16:45] abbeycode commented on #12
This is live on CocoaPods now

[2015-06-22 16:45] #12 closed

[2015-06-24 18:40] abbeycode commented on #11
This is mostly done, but Travis is failing, since it's building for iOS devices without a signing identity, which I don't intend to provide. I created a [pull request in Carthage](https://github.com/Carthage/Carthage/pull/583) to address this by adding a `--simulator-only` flag

[2015-06-28 04:34] SkiesOFF commented on #9
Is it possible to implement writeIntoBuffer with password by combining the CRC? Even if it takes 2x more time (reading the file to get the CRC and reading again to write).

[2015-06-28 14:30] abbeycode commented on #9
What is your reason for using the buffer-based method in the first place, instead of the NSData one?

[2015-06-28 17:09] SkiesOFF commented on #9
In my app users have the possibility to zip their files. It would be nice if they can create the zip with password. Since is user's files, i don't know how big the files might be.

[2015-06-28 17:32] abbeycode commented on #9
To answer your question, that is just an informational log statement. You are using it correctly. Open an issue for it and I'll take care of it.

Regarding zipping with a password, you can't write into a buffer and protect it with a password because the CRC of the file must be known ahead of time when using a password. I recommend setting the `password` field on the archive and then using `-writeD

[2015-06-28 18:48] SkiesOFF commented on #9
Thanks, it's ok, i don't think this is an issue.

By reading the entire file first to calculate the CRC and than read again to write is not possible?

[2015-06-28 19:46] abbeycode commented on #9
But as soon as you read the entire file into memory, why not make an NSData out of it? The buffered write API is meant for when the file in question is too big to have in memory all at once, or is not known up front. Does that make sense?

And with the log message, I agree that it's annoying, and it can be handled better (or at least worded better).

[2015-06-28 20:06] SkiesOFF commented on #9
Yes, i understand. I thought the CRC could be calculated using chunks, not needing the entire file in memory.

[2015-06-28 21:06] abbeycode commented on #9
Sorry, I think you're misunderstanding. Every file written to the archive needs a CRC, which is written after the data is written. This works when writing an NSData or when streaming the file into the archive. UnzipKit calculates the CRC for a buffered write one chunk at a time, as you describe.

The problem, [as described in this Stack Overflow answer](http://stackoverflow.com/a/30968252) is that

[2015-06-28 22:31] SkiesOFF commented on #9
Yes, sorry, I think i was not clear in my first comment when i said "reading" i really meant "streaming" or "reading in chunks".

My ideia is to first stream the file **just** to calculate the CRC and than stream it (writeIntoBuffer) **again** using the CRC calculated.

Is it possible, since i would have the CRC before start writing?

[2015-06-28 23:56] abbeycode commented on #9
I'm not understanding your use case. If you (a) need to stream a file and (b) need to encrypt it in the archive, this is what I would say you should do:

[code]

Where does that fall short for you?

[2015-06-29 00:17] SkiesOFF commented on #9
File can be too big to have in memory all at once.

[2015-06-29 20:13] abbeycode opened #16 "Allow password-protection for streamed files when CRC is known up front"
1. Add a `-writeIntoBuffer` overload that takes a CRC argument. If given, allow password protection
2. After writing the buffered data, verify the calculated CRC matches the argument given, and return an error (with a new error code) if it doesn't

Suggested by @SkiesOFF in comments on issue #9

[2015-06-29 20:17] abbeycode opened #17 "A warning is logged each time a new file is created"
Instead, only log a warning (or return an error) when attempting to read from a file that doesn't exist yet.

Pointed out by @SkiesOFF in comments on issue #9

[2015-07-02 02:15] SkiesOFF opened #18 "High memory usage when writing many files in archive"
Try compressing this whole folder (buffered or NSData) and your app is going to crash because of high memory usage.

Files used: https://www.dropbox.com/s/ztyk5t9u4jvedy4/largeZipFile.zip?dl=0
(20mb - 3500 files)

When i tried to compress the folder above, i made a for loop and for each file i used writeData or writeIntoBuffer. --Memory usage grows very fast and soon crashes the app.

**Method to

[2015-07-02 17:27] abbeycode commented on #18
Thanks, I'll take a look - would you consider making a pull request? I can walk you through it if you're not familiar with the process.

[2015-07-03 02:57] abbeycode commented on #18
I've been looking into ways to improve memory consumption, and I'll let you know when I come up with something. I want to make sure I point out to you, though, that you can turn `overwrite` off, if you know it's not necessary for your application. If you're writing a directory of files for instance, you know none of them will have the same names, and you won't be writing any files twice. I'm not s

[2015-07-03 05:02] abbeycode commented on #16
@SkiesOFF, take a look at the overloads in master, and let me know if it works for you.

[2015-07-03 14:03] SkiesOFF commented on #16
I will take a look as soon as possible, thank you!

[2015-07-03 14:10] SkiesOFF commented on #18
Yes, i did turn overwrite off first but i was curious to see why this was happening. I could insert an autoreleasepoll in my for loop too, but i think its best to release this memory as soon as possible (not everyone knows about autoreleasepol, so they may have this problem).

[2015-07-05 05:23] SkiesOFF commented on #16
Yes, very good, thank you.

Just a little detail:

[code]

overwrite is not passing the correct parameter here.

[2015-07-05 06:20] abbeycode commented on #16
@SkiesOFF Thanks! Good catch! Should be better now. This will be included in the next release.

[2015-07-08 12:37] abbeycode commented on #18
Check out the [issue18](https://github.com/abbeycode/UnzipKit/tree/issue18) branch - I performed a few different optimizations, including wrapping one of the lines you mentioned in an `@autoreleasepool`. The best solution would probably be to use a `struct` instead of a `class` for `UZKFileInfo`, but C structs don't have calculated properties (which would undo one of my optimizations) and Swift st

[2015-07-13 14:54] abbeycode commented on #18
If this works for you, I can merge into master and make a new CocoaPods release

[2015-07-16 22:42] abbeycode commented on #16
I released this to CocoaPods

[2015-07-16 22:42] #16 closed

[2015-07-16 22:42] abbeycode commented on #17
Released to CocoaPods

[2015-07-16 22:42] #17 closed

[2015-07-16 22:42] abbeycode commented on #18
I released this to CocoaPods

[2015-07-16 22:42] #18 closed

[2015-07-28 19:23] abbeycode opened #19 "Comments not written to archive correctly"

[2015-07-28 19:47] abbeycode commented on #19
Fixed in v1.4.2, released to CocoaPods

[2015-07-28 19:47] #19 closed

[2015-10-12 08:59] iblacksun opened #21 "Compatible for an iOS 8 Cocoa Touch Framework"
A similar discussion for the problem can be found here: https://github.com/ZipArchive/ZipArchive/issues/158

[2015-10-12 14:22] abbeycode commented on #21
I'll take a look and let you know what I find. Were you getting "Include of non-modular header inside framework module"?

[2015-10-12 16:13] abbeycode commented on #21
I created a test project in Xcode 7.0.1, targeting iOS 8.4, using the latest CocoaPods release of UnzipKit (v1.4.2) and didn't get any compiler errors (just one warning).

[2015-10-13 01:03] iblacksun commented on #21
Thanks for your response, here is a demo project https://github.com/iblacksun/UnzipKitIssue

I want to use UnzipKit in a Swift framework.

[2015-10-13 01:12] abbeycode commented on #21
It looks like this was already fixed in the Swift-2.0 branch. I'll update this thread once I cut a release with those changes, but for now, this should work in your Podfile:

    pod 'UnzipKit', :git => 'https://github.com/abbeycode/UnzipKit.git', :branch => 'swift-2.0'

[2015-10-13 01:23] iblacksun commented on #21
I'm using ```pod 'UnzipKit', :git => 'https://github.com/abbeycode/UnzipKit.git', :branch => 'swift-2.0'````, but issue still exist.

[2015-10-13 01:23] abbeycode commented on #21
Did you do a `pod update` and then clean your build?

[2015-10-13 01:26] iblacksun commented on #21
Sure,
1. Remove this pod from Pod file.
2. Do a ```pod update```.
3. Add pod with swift-2.0 branch.
3. Do a ```pod update``` again, and clean project.

[2015-10-13 01:28] abbeycode commented on #21
Sorry, my mistake. It started building a different scheme after I updated. I'll have to take another look later. Thanks for giving me the sample project though, it should make it a lot easier.

[2015-10-13 21:29] abbeycode commented on #21
According to someone from CocoaPods in the issue above, it doesn't support linking to framework targets at this time. Could you link UnzipKit to your app target instead? If not, Carthage should be at least mostly supported. I have a branch ([`carthage`](https://github.com/abbeycode/UnzipKit/tree/carthage)) that should bring 100% compatibility.

[2015-10-14 02:14] iblacksun commented on #21
Thank you, i will try git submodule or carthage.

[2015-10-14 06:24] iblacksun commented on #21
Sorry, once again.
I 'm using Carthage, if i use ```carthage``` branch, ```carthage update``` will failure.
```swift-2.0``` branch is ok, but after ```carthage update```, in build directory only one Mac framework.

[2015-10-14 15:22] abbeycode commented on #21
Did it still not work outside of CocoaPods?

[2015-10-14 15:23] abbeycode commented on #21
Ah, I see. I'll merge the `swift-2.0` changes into `carthage`

[2015-10-19 03:41] iblacksun commented on #21
Sorry, BUILD FAILED again, This is log below.

[code]

[2015-10-29 15:11] abbeycode commented on #21
I apologize for the delay (I had a family emergency come up). Can you please try again? I've made some fixes, and `carthage update` succeeds with this Cartfile:

[code]

[2015-10-30 09:58] iblacksun commented on #21
Thanks very much.

Now UnzipKit can build success with carthage, but when using in framework, Xcode still report errors.

I have update the demo project, could you check it for me?

https://github.com/iblacksun/UnzipKitIssue

[2015-10-30 14:45] abbeycode commented on #21
I poked around, and tried a bunch of different solutions, none of which worked. I posted about it [on StackOverflow](http://stackoverflow.com/q/33438654/105717), so let's see if we get any traction there.

[2015-11-02 02:39] iblacksun commented on #21
Thanks very much.
I had contact the Apple Developer Technical Support to request help. when they reply me or have a solution, i will update here.

[2015-11-06 15:51] abbeycode commented on #11
Released to v1.5

[2015-11-06 15:51] #11 closed

[2015-11-06 15:54] abbeycode commented on #21
FYI, I merged all branches to trunk and cut a new CocoaPods release.

[2015-11-12 03:40] iblacksun commented on #21
DTS said:

DTS supports developers using Apple-authored tools and frameworks only. We are unable to provide support for third-party tools, development environments, tutorials or other resources.

[2015-11-18 15:02] abbeycode commented on #21
This should be fixed as of v1.6. As mentioned above, use Carthage (on `master` now) and you should be fine.

[2015-11-18 15:02] #21 closed

[2015-11-25 07:08] iblacksun opened #23 "App Crash in UnzipKit"
My app using UnzipKit 1.4.x, I did get some crash log showing it crashed in UnzipKit,but it happens randomly and rarely.
I thinks here is a similar issue http://stackoverflow.com/questions/18511762/nscalendar-datefromcomponents-crashes-with-sigabrt

<img width="570" alt="2015-11-25 3 02 33" src="https://cloud.githubusercontent.com/assets/712004/11390529/fb4e64d8-9385-11e5-9844-3cd8d82d3138.png">

[2015-11-25 15:29] abbeycode commented on #23
Interesting. It definitely looks like it could be a concurrency problem (based on the Stack Overflow link). Are you calling UnzipKit from multiple threads?

[2015-11-26 01:13] iblacksun commented on #23
Yes, in a GCD queue.
[code]

[2015-11-27 08:36] iblacksun commented on #23
@abbeycode More information, my dummy code:
[code]

[2015-11-27 18:11] abbeycode commented on #23
I've been trying to reproduce this in a test case, and have been unsuccessful (not even once), which will make it difficult to verify any fix. Are you writing the the same `zipFilePath` from multiple queued operations? That would definitely cause problems, so I haven't tried that in my test cases. This is what my most recent one looks like:

    func test_Issue23() {
        let saveFileQueue = di

[2015-11-28 02:38] iblacksun commented on #23
I have update my code, add a synchronize when calling ```archive.writeData```.
I am watching crashes and if this update is ok, i will tell you, otherwise require your Carthage branch.
Thank you very much.

[2015-11-30 15:34] abbeycode commented on #23
How are you synchronizing? If it's a global sync on `archive.writeData`, that's a workaround (rather than a solution) and I'd still like to fix it. If you're synchronizing on each file, so that multiple writes to a particular file get serialized, that would be a proper client-side fix.

[2015-12-01 00:59] iblacksun commented on #23
I'm using client-side fix.
[code]
But now i don't have enough crashes to check if this workaround is OK.

[2015-12-01 21:49] abbeycode commented on #23
But won't that slow your code down? If you only write one file at a time, then what's the point of performing those operations asynchronously at all?

I still plan to try putting my fix in a branch soon for you to try it out. This feels like it should be fixed on my end, in each client.

[2015-12-02 01:37] iblacksun commented on #23
Yes, it will slow my code.
You can fix this in a branch, but my next version will one month later.
During this month, i will interaction your branch in my developing app, this crash is randomly and rarely, i can't check it in developing.

[2015-12-02 03:15] iblacksun commented on #23
@abbeycode And, please add bundle id for iOS target.

[2015-12-02 16:16] abbeycode commented on #23
When I look at the `UnzipKit.framework` produced by Carthage, I see `com.abbey-code.UnzipKit` as the `CFBundleIdenfitier`. What are you seeing?

[2015-12-02 16:39] abbeycode commented on #23
You can try out the [`issue23`](https://github.com/abbeycode/UnzipKit/tree/issue23) branch, which should hopefully solve the concurrency issue. As mentioned, I couldn't reproduce the issue in a test case, so I can't verify.

[2015-12-04 03:49] iblacksun commented on #23
@abbeycode After run ```carthage build --no-skip-current```, the iOS framework Info.plist there is no CFBundleIdentifier key, OS X target has right CFBundleIdentifier ```com.abbey-code.UnzipKit```

[2015-12-04 15:58] abbeycode opened #24 "iOS framework doesn't have the bundle ID when built with Carthage"
Issue was reported by @iblacksun in comments to issue #23.

[2015-12-04 16:20] abbeycode commented on #24
This has been fixed in `master` and the `issue23` branch. Since it only affect Carthage (as far as I know), I won't make a CocoaPods release specifically for it.

[2015-12-04 16:20] #24 closed

[2015-12-04 16:21] abbeycode commented on #23
Thanks, that should be fixed now. Let me know how it goes with the calendar issue.

[2015-12-12 04:16] iblacksun commented on #23
@abbeycode I had checked calendar issue in my recent 2 builds. It's fixed in ```issue23``` branch.
Thanks.

[2015-12-14 16:50] abbeycode commented on #23
I merged this into master. Thanks again for all of your help in flushing out the bugs from UnzipKit! :+1:

[2015-12-14 16:50] #23 closed

[2016-01-16 03:51] brendand opened #25 "Add support for Zip64 extraction"
I have a 6 GB zip file I need to uncompress and it gets about 75% the way through and then fails with an error:

UnzipKit error...
Name: Error reading a file in the archive
Detail: Error opening password protected archive (-103)
UnzipKit error...
Name: Parameter error
Detail: Error closing current file 'Photos/B52AEB4D-1E5B-4017-A311-E009658A5D9D.jpg'
Error uncompressing: Error Domain=UZKErrorDoma

[2016-01-16 23:17] abbeycode commented on #25
I haven't tried using UnzipKit with a file that big, but I'd love to see what we can do to get it to work for you.

To start with, can you give some sample code?

[2016-01-18 01:21] brendand commented on #25
Thanks for your response!

This is the code I'm using. It's pretty straight forward:

[code]

[2016-01-18 01:25] brendand commented on #25
Also, the file I'm trying to unzip has about 945 items in it. Mostly JPG and TIF files, but some other file types and folders too.

[2016-01-19 20:27] brendand commented on #25
Is there anything other information I can provide to you in order to help figure it out?

[2016-01-19 20:54] abbeycode commented on #25
Thanks for what you provided. I'd love to be able to step through it myself to see what's going on. Could you post the archive someplace where I can download it? If you don't want to post the link here, you can DM it to me on Twitter (I'm @DovFrankel)

[2016-01-20 01:27] brendand commented on #25
I sent you a DM. Hopefully you got it. From my @tapforms account.

[2016-01-21 19:31] brendand commented on #25
Awesome. Thanks for looking into it!

[2016-01-24 21:59] brendand commented on #25
Was just testing the big file with your latest commits and received this error that caused a crash:

[code]

[2016-01-24 22:02] abbeycode commented on #25
I'm aware of what's causing the crash (my continuous integrations started failing). I'll let you know when I have something for you to look at, to address your issue. So far I've improved the memory footprint and some error messages.

[2016-01-24 22:03] brendand commented on #25
Awesome. Thanks for your hard work!

[2016-01-25 18:21] brendand commented on #25
This last commit fixed the crash. Thanks!

So do you have an idea what is causing that big file not to be unzipped? It always stops on the same file. Right now it just shows this error:

Error Domain=UZKErrorDomain Code=107 "Error reading a file in the archive"

Is it because it has reached the 4 GB limit of the 32 bit memory space? Or is it some other reason?

Even if it was from a bad file, woul

[2016-01-25 21:37] abbeycode commented on #25
It does look like it's a bad file (from what I can tell), or more specifically, a bad file header. I made an update to make sure the "Bad zip file" error shows up as an underlying error.

Regarding why Finder and BetterZip work, it could be that they're less strict. What's coming through as incorrect with that file is the "magic number", which should always be `0x04034b50`. Do you know how the fil

[2016-01-25 23:17] brendand commented on #25
I'll try removing that file, but I'm pretty sure when I did that, it moved the problem to the next file. I'll try it again. The file was initially created using ZipArchive. I didn't know about UnzipKit before last week. ZipArchive isn't able to uncompress it either.

Is there a way to skip the file and continue unzipping?

[2016-01-26 00:09] abbeycode commented on #25
Unfortunately, no, unless you were to extract each file yourself using another method. You can try `-[UZKArchive performOnDataInArchive:error:]` (which might also stop on an error) or calling `-[UZKArchive listFileInfo]` and then call `-[UZKArchive extractData:progress:error:]` on each one. That way would definitely work, since you could ignore any errors, but it's a little less abstracted than th

[2016-01-26 00:14] brendand commented on #25
Ah ok. At least there's a way then. Thanks!

[2016-01-26 06:56] brendand commented on #25
Did you only find that one file with the problem? I deleted that file and re-saved in BetterZip and tried unzipping it again. But then got an error on the next file. I did that about 5 times, each time the next file down the list gets the error.

[2016-01-26 15:52] abbeycode commented on #25
Okay, interesting. Can you give me screenshots of the options you're using in BetterZip? Once I save it with BetterZip, UnzipKit fails on the first file.

[2016-01-26 19:05] brendand commented on #25
I'm just doing a regular save. Not using any of the built-in presets. I am using version 3.0.4 of BetterZip.

<img width="687" alt="screen shot 2016-01-26 at 12 04 59 pm" src="https://cloud.githubusercontent.com/assets/586075/12591462/145704a6-c425-11e5-90ae-2ce93e6c83d3.png">

[2016-01-26 19:32] abbeycode commented on #25
Ah, that explains it (probably). I'm still on BetterZip 2, and the new version adds "Direct Mode", which is what I'd like to use on this archive. While I work on upgrading it, can you try removing the file _before_ the one that throws the error? That should be `Photos/B0A180FB-7264-4895-93EC-720021DB01FC.tif`.

It basically seems like some file header, somewhere in the file, is off. Where it's loo

[2016-01-26 20:53] brendand commented on #25
That didn't work. I deleted even a few files before and after that file, then reserved, then tried unzipping again. I tried using direct mode and non-direct mode in BetterZip to delete those files.

[2016-01-26 20:55] brendand commented on #25
Also, when I ran the BetterZip Test command to test the validity of the archive, it passed the test.

[2016-01-26 23:59] abbeycode commented on #25
Okay, I've been digging through the hex of that file, and I've got _something_. I'm not sure what to do about it yet, but the central file header for the first file that fails has a hex offset for the file of `FF FF FF FF`, which is clearly the max value for the field. When it looks there, it's the middle of some file, not the beginning of the one it's expecting, which is why it fails. It looks li

[2016-01-27 00:04] brendand commented on #25
Awesome. I'm glad you've found that. Ya, it seemed like it might have been a 64 bit issue to me since it always seemed to stop around the same spot in the file.

[2016-01-27 21:26] brendand commented on #25
Bingo! You've got it! I was able to successfully decompress that gigantic file now.

One small glitch though, if you try to archive, an error pops up

[code]

Changing that line to totalSize.doubleValue fixes the problem.

I can truly say that you have the best Zip/UnZip framework I have seen yet!

Thanks!

[2016-01-27 21:36] abbeycode commented on #25
@brendand Thanks a lot. I'd like to address that compiler (error? warning?) but I'm not seeing it. How can I reproduce it?

[2016-01-27 21:44] brendand commented on #25
It could be a new one in Xcode 7.3 (-Werror,-Wdouble-promotion) which I'm using now.

[2016-01-27 21:49] abbeycode commented on #25
Ah, okay, I'm still on 7.2. 7.3 is still in beta, right?

[2016-01-28 18:06] abbeycode commented on #25
Darn it, El Capitan is required for Xcode 7.3. Would you mind reporting that compiler warning as a separate issue? I'll address it once I've upgraded. It's not causing any issue for you at runtime, is it?

[2016-01-28 18:41] brendand commented on #25
No. I simply changed it to doubleValue instead of floatValue and it's working perfectly. Sure, I'll create a separate issue.

[2016-01-28 18:43] brendand opened #26 "Error: implicit conversion increases floating-point precision on Xcode 7.3 when archiving"
When you archive for OS X or iOS, Xcode 7.3 reports the following error:

[code]

Changing that line to totalSize.doubleValue fixes the problem.

[2016-01-28 19:40] abbeycode commented on #25
This has been merged to `master`, and released to CocoaPods as v1.6.2. Thanks for pointing it out, and helping to solve it!

[2016-01-28 19:40] #25 closed

[2016-01-28 19:43] abbeycode commented on #26
Thanks, I'll take a look once I upgrade to El Capitan.

[2016-01-30 23:02] brendand opened #27 "Running out of memory extracting archives with large files embedded"
Different from the 64 bit issue, this time my iOS app aborts when I attempt to unzip an archive that contains a file that expands to 1.4 GB. The zipped archive itself is 775 MB, but unzips much larger. There are other files in the archive, but the main file is this big 1.4 GB file.

The issue is in the `extractFilesTo:overwrite:progress:error` method. It reads the entire file from the archive into

[2016-02-01 17:03] abbeycode commented on #27
That's a great idea! The `extractBufferedData:fromFile:error:action` call is newer and I didn't think to go back and use it there. I'll take a look at your pull request as soon as I can.

[2016-02-01 21:17] abbeycode commented on #26
This has been addressed in `master` and will be included in the 1.7 release

[2016-02-01 21:17] #26 closed

[2016-02-14 02:24] abbeycode commented on #27
This has been addressed in PR #28 and will be released in v1.7

[2016-02-14 08:54] amosavian commented on #1
it's slower but atomicity is a problem specially in mobile platform. An interruption may result in corrupt file.

[2016-02-14 15:40] #27 closed

[2016-02-14 15:51] abbeycode commented on #27
v1.7 is live on CocoaPods now, including this fix. Thanks again @brendand for all the hard work!

[2016-02-14 15:52] abbeycode commented on #26
v1.7 is live on CocoaPods now, including this fix. Thanks again @brendand for pointing this out!

[2016-02-14 16:10] abbeycode commented on #1
That's an interesting point. I think that it's a concern for any sort of file I/O, though – not only deletions, right? If you begin inserting into an archive, and quit midway through, there'll still be corrupt data (a header that points to an incomplete file). Wouldn't it be on the developer to make sure the process runs long enough to finish?

The first (and easiest) way I could see around this w

[2016-02-14 23:25] brendand commented on #27
No, thank you for making this awesome library!

[2016-02-15 17:11] amosavian commented on #1
Unfortunately I'm neither familiar with ZIP spec nor Objective C language otherwise I could help you in this milestone.
Having journaled is a fascinating idea. It may help much in modifying functions but I think that would be a hard job to do.

[2016-02-18 19:24] abbeycode commented on #1
@amosavian No worries, it's something I'll try to get to at some point. I added a link to the ZIP spec to the top post for the issue though, in case anyone gets curious.

[2016-02-19 08:07] brendand opened #30 "Unzipping large file with version 1.7 causes UZKErrorCodeBadZipFile error"
The large file I sent you before fails to unzip properly about 3/4 of the way through and spews out a bunch of -103 errors (UZKErrorCodeBadZipFile). It doesn't abort the unzipping when it encounters the error. Using my forked version which doesn't contain your latest update works properly for me. I tested this on iOS and Mac. At first I thought it was just on the iOS version but then realized the

[2016-02-19 15:54] abbeycode commented on #30
Hey, sorry about that! It must be a different issue than the last time, since I still have a test case that reproduced the last issue, and it's passing in the latest builds. I'll take a look at this ASAP, but for now, you can still use CocoaPods and stay on the old version:

[code]

I'll try to figure out what's causing this latest issue ASAP and get back to you.

[2016-02-19 16:30] abbeycode commented on #30
I was able to successfully extract the archive in a Mac unit test, with no issues. Extracting it using an iOS test case will be more difficult due to its size. I'll see what I can do. You said that you did see the issue with the Mac build also, though?

[2016-02-19 16:35] abbeycode commented on #30
Also, which commit is your fork up to, and does it have any other changes?

[2016-02-19 19:21] brendand commented on #30
My latest commit is: d13486ecd555909a6548c600ab021e4efbdd8dde and all my changes were made after your commit c19c4f5c06659705a744dd4252a2f85ef90269b7

You can see my fork here: https://github.com/brendand/UnzipKit

I haven't made any changes to it in 7 days when I removed that new error code I had made. I seem to remember you making a small change to optimize the closing of the file handle.

[2016-02-19 19:21] brendand commented on #30
And yes, I did get the same failure on the Mac version as well as the iOS version.

[2016-02-19 20:26] abbeycode commented on #30
Can you please add the following test case into ExtractFilesTests.m (substituting the correct file path) and let me know if it fails? It's succeeding for me.

[code]

[2016-02-29 15:51] abbeycode commented on #30
@brendand Were you able to give that a shot?

[2016-03-03 16:55] brendand commented on #30
Sorry, I haven't had an opportunity to test it out just yet. I'll be able to look into it next week. The version that I built prior to the last set of changes is working well for me though.

[2016-03-12 22:45] abbeycode opened #31 "Crash in -performActionWithArchiveOpen:inMode:error:"
The crash occurred at [line 1174 of v1.3](https://github.com/abbeycode/UnzipKit/blob/1.3/Source/UZKArchive.m#L1174), inside this `if` statement:

[code]

Apparently, `actionError` was nil? That doesn't seem possible. This is the symbolicated crash report:

[code]

[2016-03-24 21:26] abbeycode commented on #30
@brendand Should I close the issue, or are you still having this problem?

[2016-03-25 22:32] brendand commented on #30
Ya, I'm very sorry for not getting back to this. Since the build I have has been working fine for me, I haven't dug into this yet. But when I do get back to it, this can always be re-opened. Just been super busy with other areas of my apps. So close it for now.

[2016-03-25 22:37] abbeycode commented on #30
Sure, we can work on it more when you have time.

[2016-03-25 22:37] #30 closed

[2016-04-19 20:43] abbeycode opened #32 "Add support for NSProgress"
Make `UZKArchive` implement `NSProgressReporting` on OS X >= 10.11 and iOS >= 9.0, and support implicit progress reporting for earlier OSes.

https://developer.apple.com/videos/play/wwdc2015/232/

- [x] Implement `NSProgressReporting`
- [x] Add progress reporting to methods where it makes sense
- [x] Update documentation for indicating progress reporting support
- [x] Add progress reporting test c

[2016-04-25 17:29] abbeycode opened #33 "UZKErrorDomain not visible in Swift as of v2.2"
The solution proposed in this Stack Overflow answer works:

http://stackoverflow.com/a/36155592/105717

It needs to be declared outside of the class interface, rather than inside.

[2016-04-25 20:16] #33 closed

[2016-06-22 06:42] mohpor opened #34 "Nullable passwords"
Hi,

The `password` parameter in `initWithPath:password:error` method (and I'm guessing a few other methods like that) is implicitly assigned  the NONNull attribute (because they are inside the `NS_ASSUME_NONNULL_BEGIN ... NS_ASSUME_NONNULL_END` block). But password is a nullable parameter indeed. An empty string results in error.
I suggest either assigning nullable attribute to parameters and obj

[2016-06-27 03:16] abbeycode commented on #34
This has been addressed in v1.7.2 of UnzipKit, which is now live on CocoaPods.

[2016-06-27 03:16] #34 closed

[2016-06-27 04:00] abbeycode opened #36 "Overwrite not working for files on external volumes"
It looks like updating archives on external volumes with `overwrite = YES` is failing, probably because the temp file is written on the main disk.

At the very least, emit a better error message, and ideally, figure out a way around this (that is sandboxing compliant!).

[2016-06-30 14:04] abbeycode commented on #36
This fix looks good - I verified it works in a sandboxed app also.

[2016-06-30 14:15] #36 closed

[2016-08-09 22:27] abbeycode opened #37 "Add a more specific error for Deflate64 files"
Currently, if an archive is compressed using Deflate64 (method 9), that file is reported as a bad zip file and no more information is given. Since it looks like that algorithm is proprietary and therefore won't be included in zlib, for now check for that condition and report it as its own error code.

[2016-08-10 02:47] abbeycode opened #38 "Distribute strings file for default localization"
Strings from UnzipKit show up as non-localized when "Show non-localized strings" is turned on in a client project. All user-facing strings should already be wrapped with `NSLocalizedString`, so add a script to generate the strings file and distribute it in the pod.

[2016-08-10 03:31] abbeycode opened #39 "Add support for Deflate64 files"
Issue #37 added a specific message declaring incompatibility when a Deflate64 file is encountered in an archive, but that's really only a stopgap measure. It would obviously be better to actually unzip Deflate64 files. 7-Zip currently does this, and seems to be the only open source software that does.

Look into making use of their code in some way, since it seems that zlib won't ever support Defl

[2016-08-11 23:45] #37 closed

[2016-08-12 00:31] abbeycode opened #40 "Run CocoaPods and Carthage validation as separate build steps in Travis"

[2016-08-12 00:55] #38 closed

[2016-08-12 14:41] #40 closed

[2016-08-13 22:11] amosavian commented on #39
As I know Deflate64 is protected by patents, thats why you can't find any open source implementation.
By the way it also means we should have a kill switch to disable this feature in case it is necessary.

[2016-10-21 11:57] amosavian opened #41 "Add module map to project"
This will allow adding files to project and treat them as framework in swift projects, without bridging header by adding `.modulemap` file to `Swift Compiler -Search Path -> Import Paths`.

You can also consider for UnrarKit.

[2016-10-21 14:18] abbeycode commented on #41
As always, thanks for the input!

Isn't the module map meant for bringing C libraries into Swift, though? Do you have examples of other Objective-C libraries offering modulemap files for this purpose?

[2016-10-21 19:48] amosavian commented on #41
Maybe you are right. I didn't test for objc.

[2016-10-25 12:21] ConfusedVorlon opened #42 "Fix localizations"
1.81 generates a warning when submitting to iTunes (re Unrecognized Locale -)
It looks like this is fixed in a more recent commit.

Could you push 1.82?

thank you.

[2016-10-25 14:46] abbeycode commented on #42
Thanks for pointing this out. I didn't realize the issues I fixed would affect anything material. I'll work on this when I can (hopefully today).

[2016-10-25 14:54] #41 closed

[2016-10-25 14:55] amosavian opened #43 "Error #104 when unzipping file"
Hi,
Please test this file, I get an error related to Minizip, while this file seems okay in other unarchivers.

https://subscene.com/subtitle/download?mac=EDZqbNIgfeS9cyBP9x-cmJBnQQo-bF2uuBKvYcRRpQmrhb40MLC6PggLrUjQw01FOZuq_OUp9ye8fKcA72BIJJoJnmpVgj3yIthwQo0eEQ1aph_jwKXCwT7s6CXnykT40

[2016-10-25 14:55] abbeycode opened #44 "Use Travis caching to improve build times"
Rather than generating the large files used to run the unit tests each time the tests are run, the unit test setup should instead check whether a certain directory (or file) exists, and only generate the test files if they don't exist.

Then, you can mention to Travis that the directory should be cached (https://docs.travis-ci.com/user/caching/#Arbitrary-directories), so it will be downloaded for

[2016-10-25 15:07] abbeycode commented on #43
I'll take a look when I can. Have you tried stepping through, though, to see when the error originates? That's been the most helpful step for me in the past.

Also, could you attach the archive itself to the issue?

[2016-10-25 15:09] abbeycode opened #45 "Keep Travis from failing long-running builds"
It should log one message every minute until stopped, and only be invoked from specific tests that take a long time, like `-[ExtractFilesTests testExtractZip64_LargeFile]`.

[2016-10-25 15:12] abbeycode commented on #45
It looks like Travis has something built-in called [`travis_wait`](https://docs.travis-ci.com/user/common-build-problems/#Build-times-out-because-no-output-was-received).

[2016-10-25 17:49] abbeycode commented on #45
`travis_wait` is fine for granting more time, but it would be even better to have the longest-running tests go into their own schemes with their own matrixed build, so the overall build doesn't take as long.

[2016-10-25 17:58] ConfusedVorlon commented on #42
thank you.

[2016-10-25 18:27] ConfusedVorlon commented on #42
It is just a warning from iTunes, not an error, but would be nice to get
rid of it.

Thank you

______________________________
Small phone.  Terse response.

On 25 Oct 2016 3:46 pm, "Dov Frankel" <notifications@github.com> wrote:

[2016-10-26 20:29] abbeycode commented on #42
I've bumped the version, and pushed an update to CocoaPods. Thanks again for pointing this out!

[2016-10-27 08:41] amosavian commented on #43
Hey @abbeycode ,
Unfortunately I can't reproduce the error 😞

[2016-10-27 08:41] #43 closed

[2016-11-02 18:54] abbeycode opened #47 "If running iOS >= 10 or macOS >= 10.12, use built-in system logging"
The documentation is here: https://developer.apple.com/reference/os/1891852-logging

Switch logging to use a new macro (`UZKLog`), with an `ifdef` that uses the existing `NSLog` behavior on older OS versions. All logging should happen on a custom logger whose identifier is published on the readme. The macro should take the log level as the first argument, and insert it as a string into the `NSLog`

[2016-11-23 09:14] amosavian opened #48 "Framework Issues"
Hi,

I wanted to add framework for dynamic linking to my project, it doesn't show iOS framework in `Embedded Binaries` and even when I fixed it, I had issues for `resources.bundle` file.

Interestingly, I had not these issues with UnrarKit, while I get `UnrarKit/Classes/UnrarKit.h:12:9: 'Cocoa/Cocoa.h' file not found` error.

[2016-12-09 20:55] abbeycode commented on #48
Are you still having this problem?

[2016-12-09 21:19] amosavian commented on #48
I didn't try again. Falled back to manual inclusion. I'll try and inform you

[2016-12-11 23:09] amosavian commented on #48
@abbeycode I solved the problem with `UnrarKit` by adding new line to `UnrarKit.h` umbrella header:

[code]

I will tell about UnzipKit if I overcome the problem

[2016-12-12 19:08] amosavian commented on #48
I got this error when tried to upload to iTunesConnect, using `UnrarKit.framework` in project:

    ERROR ITMS-90060: "This bundle is invalid. The value for key CFBundleShortVersionString '2.8-beta' in the Info.plist file must be a period-separated list of at most three non-negative integers."

[2016-12-12 20:15] abbeycode commented on #48
Interesting. If you're working off of a fork, just update the `Info.plist` not to be a beta (just `2.8`).

[2016-12-12 20:24] amosavian commented on #48
I did and now is uploading the binary \o/

[2016-12-12 20:26] abbeycode commented on #48
How are you producing the Framework? Are you using Carthage?

[2016-12-12 20:29] amosavian commented on #48
Nope, simply dragged `.xcodeproj` into my project and added it to `Embedded Binary` section.
Carthage automatically rectifies some common malformations and universal binaries. But I'm more convenient with this style

[2016-12-27 19:17] abbeycode commented on #48
I was reading back through this thread, and I couldn't tell if UnzipKit is being affected, or if this only affected UnrarKit. Is there any work left to do on UnzipKit related to using it as a dynamic framework?

[2016-12-27 19:19] abbeycode opened #49 "Add automatic pushing to CocoaPods for tagged builds"
Did this in UnrarKit - use the same approach (and, most likely, scripts).

[2016-12-28 09:43] amosavian commented on #48
I didn't tried to figure out how to resolve the problem with UnzipKit yet, I'll try after new year eve.

[2016-12-30 09:48] amosavian commented on #48
I tried UnzipKit framework again, now the problem is `UnzipKit-iOS` target is not enlisted in `Embedded Binaries` section in project settings when I want to add it while I can see `UnzipKit   macOS` in the list. I tried to solve problem by changing some project settings without success.
I supposedly has to recreate iOS target from scratch.

[2017-01-03 16:42] abbeycode commented on #49
Looks good in branch - will test with next release

[2017-01-05 20:58] abbeycode commented on #48
Can you try the `issue48` branch? I think it should work for you now. If so, I'll cut a new release.

[2017-01-06 16:41] amosavian commented on #48
@abbeycode tested and it works perfectly

[2017-01-11 13:14] abbeycode commented on #48
This has been merged to `master` and is included in v1.8.3. Thanks again for pointing it out!

[2017-01-11 13:14] #48 closed

[2017-01-11 13:14] #49 closed

[2017-01-11 13:14] #45 closed

[2017-01-12 13:15] amosavian commented on #48
Thank you very much

[2017-01-12 22:13] abbeycode opened #50 "Update to latest Xcode and Swift versions"
It looks like CocoaPods 1.1.1 requires a newer version of Swift

[2017-01-20 09:45] tomjpsun commented on #42
Hi ! 1.8.3 still gets this warning. Could you re-open the issue again ?

[2017-01-27 15:18] abbeycode commented on #42
@tomjpsun Could you please give me more info, since I haven't seen that error?

1. How are you building UnzipKit (CocoaPods, Carthage, Directly embedded source)?
2. At what time are you receiving the error (build time, analyze time, submission to App Store)?
3. What exact error are you getting? Screenshot and copy-paste of text, if possible, would be great

Thanks!

[2017-01-27 15:59] ConfusedVorlon commented on #42
Hi,

I'm building with cocoapods for a swift app using frameworks.

This is the error I get (it comes as an email after I upload an app to iTunes Connect)

Comparing unzipkit with other pods that don't generate an error; the format for unzipkit is

/UnzipKit.framework/UnzipKitResources.bundle/base.lproj'

wheras other frameworks have

/UnzipKit.framework/UnzipKitResources.bundle/en.lproj'

(and ot

[2017-01-27 22:23] abbeycode commented on #42
There might be a better way to handle it without moving off of the base internationalization ([documentation](https://developer.apple.com/library/content/documentation/MacOSX/Conceptual/BPInternational/InternationalizingYourUserInterface/InternationalizingYourUserInterface.html#//apple_ref/doc/uid/10000171i-CH3-SW2)), but using it wasn't really getting me anything, since the library doesn't presen

[2017-02-01 20:02] monobono opened #51 "Crash when using wrong password to open encrypted zip file"
[code]

leads to crash

[2017-02-01 21:14] abbeycode commented on #51
Hey, thanks for reaching out. I tried reproducing the crash in a test case (which I pushed to a new branch named `issue51`), but it passes. Can you try modifying that test case so it fails, demonstrating your crash? Also, is this happening for Mac or iOS (and, if iOS, device or simulator)?

[2017-02-02 16:03] #50 closed

[2017-02-02 16:04] abbeycode commented on #42
I released this update in v1.8.4. Please write back if you still see the problem persisting.

[2017-02-06 22:46] stevenp commented on #42
Unfortunately I'm still seeing this warning when uploading an archive on 1.8.4.

![screen shot 2017-02-06 at 4 45 44 pm](https://cloud.githubusercontent.com/assets/181589/22669770/c2040682-ec8b-11e6-9703-c846879185f9.png)

[2017-02-07 14:03] abbeycode commented on #42
Not sure how the full fix didn't get committed. Should be good now, but will verify.

[2017-02-07 16:44] abbeycode commented on #42
The 1.8.5 release is pending a successful Travis CI build, but I did verify in the demo project that _only_ the `en.lproj` folder was in the UnzipKitResources bundle. I think this was the result of a bad merge. Somehow, the commit history was showing the file getting moved to the en.lproj directory as the last change, but it was still in base.lproj. I'll send an update once the new version is out

[2017-02-08 01:45] abbeycode commented on #42
This should really be fixed this time. Let me know!

[2017-02-08 01:45] #42 closed

[2017-02-14 19:48] amosavian opened #52 "Update Cocoapods trunk automatically"
Please see what I've done:

https://github.com/amosavian/FileProvider/blob/master/.travis.yml

<img width="924" alt="screen shot 1395-11-26 at 11 15 26 pm" src="https://cloud.githubusercontent.com/assets/6725192/22946056/8bc95924-f30b-11e6-9142-1e606e0b2e46.png">

[2017-02-14 22:44] abbeycode commented on #52
I already have automatic CocoaPods integration - have you seen the way I do it? I push all builds tagged with a version number.

[2017-02-14 23:10] amosavian commented on #52
I see tnx.

[2017-02-14 23:10] #52 closed

[2017-04-05 04:55] amosavian opened #53 "fileSystemRepresentation instead of UTF8String"
Please check https://github.com/ZipArchive/ZipArchive/issues/326 and the link to blog inside issue.

[2017-04-05 15:38] abbeycode commented on #53
Good call! I'll take a look at this when I can (feel free to jump in, if you're able). I think a good first step would be to see if we can manufacture a unit test that verifies this is a problem. Ideally, it would explicitly create an HFS+ image, and an APFS image, running a test on each. We can use that to (a) verify this is definitely a problem, and (b) to verify the fix.

Each test (`ifdef`'ed

[2017-04-05 16:05] amosavian commented on #53
1. HFS+ uses form D. which effectively means `NSString.decomposedStringWithCanonicalMapping` and deleting a range of characters then. `fileSystemRepresentation` exactly do same to string in Darwin I think.

2. I think we should only handle to make canonical form of file name when **extracting**. Because doing this when compressing may cause problem in storing files with different normalization. Fo

[2017-04-19 13:20] amosavian opened #54 "Creating Directory"
Hi,
I couldn't figure out how I can create an empty directory
Thanks

[2017-04-19 15:04] amosavian commented on #54
resolved by appeding slash to path.

[2017-04-19 18:58] amosavian opened #55 "Empty directories are duplicated when deleted and added again"
When I delete a file a folder, then add a file with same name, I got duplicated entries with same name.

[2017-04-20 18:07] amosavian opened #56 "Crash when trying to extract password protected file in zip with wrong password"
I get crash (EXC_BAD_ACCESS) when trying to extract password protected file with a wrong password:

[code]

Error line: https://github.com/abbeycode/UnzipKit/blob/master/Source/UZKArchive.m#L1355

[2017-04-21 19:40] abbeycode commented on #55
Thanks for reporting this. Can you please take a look at [the issue template I created](https://github.com/abbeycode/UnzipKit/blob/master/.github/ISSUE_TEMPLATE.MD) and copy/paste into your issue? I could use the additional info requested there to figure out what's going on for you. I'm going to paste this into Issue #56 also.

[2017-04-21 19:40] abbeycode commented on #56
Thanks for reporting this. Can you please take a look at [the issue template I created](https://github.com/abbeycode/UnzipKit/blob/master/.github/ISSUE_TEMPLATE.MD) and copy/paste into your issue? I could use the additional info requested there to figure out what's going on for you.

[2017-04-22 08:32] amosavian commented on #55
**Steps to reproduce:**
1- Add a file to zip with `writeData:filePath:progress:error:`
2- Delete file using `deleteFile:error:`
3- Readd file using step 1
4- List files using `listFileInfo:`
Result of step 4 contains file 2 times.

[2017-04-22 08:42] amosavian commented on #56
**Step to reproduce:**
1- Open `Test Archive (Password).zip` inside Tests folder
2- Set password property to a wrong password e.g. `hello`
3 - Try to extract using `extractDataFromFile:progress:error:`

[2017-04-24 18:55] abbeycode commented on #55
I've pushed a test case into a branch that follows the code you described, but with correct results. Can you please update the test case so it fails in the way you're expecting?

[2017-04-24 18:55] abbeycode commented on #56
I've pushed a test case into a branch that follows the code you described, but with correct results. Can you please update the test case so it fails in the way you're expecting?

[2017-04-24 18:55] abbeycode commented on #51
Is this still a problem for you?

[2017-04-24 18:59] amosavian commented on #55
Weird because I got it fixed now!

[2017-04-25 06:16] amosavian commented on #56
I still have it. I don't know how to reproduce it in testcase. I will fix it when I find the issue thanks

[2017-04-25 06:53] amosavian commented on #56
@abbeycode please try to extract that jpeg or mp4 file. Your code may try to extract `Test File A.txt` which has no problem! Problem is with files larger than 4096 bytes.

[2017-04-25 07:25] amosavian commented on #56
I can confirm the problem is with assigning `innerError` object inside `@autoreleasepool` block. This code works without error:

[code]

[2017-04-25 07:39] amosavian commented on #55
Finally I found the problem.
1- create an empty folder, not file, using the code I made a pull request.
2- delete that folder
3- create an empty folder with same name again

I think the problem occurs when data is empty, instance of `[NSData data]`.

[2017-04-25 08:23] amosavian commented on #56
Merge or my current pull request, I will fix them all myself

[2017-05-23 20:38] abbeycode opened #58 "Switch from Travis-After-All to Build Stages"
I no longer need to use a third-party hack, as the built-in Build Stages feature now provides this functionality.

https://blog.travis-ci.com/2017-05-11-introducing-build-stages

[2017-06-07 23:37] abbeycode commented on #53
@amosavian I could use a hand with this. I've written the code to create an APFS image in the new FileSystemTests file (`apfs` branch). Can you help me make a case that fails there?

[2017-06-08 09:12] amosavian commented on #53
why just not simply create a zip file in case-sensitive APFS with files which file names normalized using `precomposedStringWithCanonicalMapping` method for testing?

[2017-06-08 14:54] abbeycode commented on #53
But if the filenames are normalized, then everything should already work correctly, right? Right now I'm trying to write a test case that reproduces the bug.

[2017-06-12 04:27] segunlee commented on #51
i got same issue,

![ohno](https://user-images.githubusercontent.com/3186834/27019357-e9ade2a8-4f72-11e7-8c43-97b3f0fc49c3.png)

[2017-06-12 14:44] abbeycode commented on #51
@segunlee Thanks for letting me know! Can you help me reproduce this? If possible, could you send me the archive you're having trouble with, and your code that's causing the crash? I have test cases for incorrect passwords, and they don't crash.

[2017-08-03 21:46] abbeycode opened #59 "Add support for CocoaPods test spec"
There is a [CocoaPods blog post](http://blog.cocoapods.org/CocoaPods-1.3.0/) detailing how to do so.

[2017-08-08 18:05] abbeycode commented on #47
Merged into v1.9 branch for release in that version

[2017-08-08 18:06] abbeycode commented on #55
Is this something you're still working on?

[2017-08-08 19:13] abbeycode commented on #51
@monobono @segunlee Are either of you able to help me reproduce this in a test case? You can checkout the `issue51` branch, which has a test case named `testValidatePassword_Issue51` I created to help get you started.

[2017-08-10 17:55] abbeycode commented on #58
This is done, for release in v1.9 (merged into that branch)

[2017-08-13 07:11] amosavian commented on #53
Apple has included utf normalization to APFS in iOS 10.3.3 onwards, which I think make this case redundant as only iOS 10.3.0, 10.3.1 and 10.3.2 is affected.

[2017-08-13 07:11] #53 closed

[2017-08-13 15:03] abbeycode commented on #53
@amosavian Thanks! I didn't see that

[2017-08-13 16:43] amosavian commented on #53
@abbeycode This is what Apple says:

https://developer.apple.com/library/content/documentation/FileManagement/Conceptual/APFS_Guide/FAQ/FAQ.html

[2017-08-15 14:54] abbeycode commented on #56
Are you still planning to fix this with a PR?

[2017-08-27 10:52] amosavian commented on #51
@abbeycode I described how to resolve problem in #56. Just amend your code with my diff 😃

[2017-09-06 21:23] abbeycode commented on #31
Useless keeping this around without more info.

[2017-09-06 21:23] #31 closed

[2017-09-07 12:47] #47 closed

[2017-09-07 12:47] #58 closed

[2017-09-22 05:05] change2hao opened #60 "The readme has missing code blocks when viewed on GitHub"
GitHub updated their Markdown formatter, causing many code blocks to disappear.

[2017-09-22 12:13] abbeycode commented on #60
Thanks! I fixed it. GitHub started rendering Markdown differently, so I had to indent the first lines of code blocks nested inside lists, whereas before I needed to have the first line up against the left margin.

[2017-09-22 12:13] #60 closed

[2017-09-26 14:34] abbeycode opened #61 "Upgrade to Xcode 9"
- [x] Upgrade project
- [x] Fix any new warnings
- [x] Fix any broken test cases

[2017-09-29 12:47] abbeycode opened #62 "Consolidate targets across platforms"
I recently discovered the "Supported Platforms" build setting. I should use that to make a single cross-platform framework and unit test bundle. This will make the project easier to maintain going forward.

- [x] Update project's supported platforms
- [x] Make `UnzipKit` target support all platforms
- [x] Make `UnzipKit Tests` target support all platforms
- [x] Update the build scripts to work wit

[2017-10-03 12:19] abbeycode commented on #59
This is stalled while I work on issue CocoaPods/CocoaPods#7040, which will fix the issue occurring now, where no output is logged while tests run during CocoaPods validation, causing Travis builds to timeout.

[2017-10-07 04:42] abbeycode opened #63 "Add data integrity check methods"
This was implemented in UnrarKit PR abbeycode/UnrarKit#61, as suggested by @amosavian in Issue abbeycode/UnrarKit#26. Add two methods to UnzipKit: one to check the integrity of all files in the archive, and another to check a specific file.

[2017-10-07 13:32] #61 closed

[2017-10-07 19:45] abbeycode commented on #62
Done in PR #64

[2017-10-07 19:45] #62 closed

[2017-10-07 20:27] abbeycode commented on #56
@amosavian I'm going through open issues now, so you'll see me replying to a bunch of them. Sorry to hit you all at once :)

Regarding this one, I'm not clear where we stand. I had created a branch (named [issue56](https://github.com/abbeycode/UnzipKit/tree/issue56)) with test cases that I thought would demonstrate the bug you're reporting, but they pass. Can you please clone that branch and demon

[2017-10-07 20:30] abbeycode commented on #51
@amosavian I'm going through open issues now, so you'll see me replying to a bunch of them. Sorry to hit you all at once :)

Regarding this one, I see what you proposed in issue #56, but as I just commented there, I would like to have a test case that fails, demonstrating the bug. As I did with the other one, I created an [issue51 branch](https://github.com/abbeycode/UnzipKit/tree/issue51) in whic

[2017-10-07 20:31] abbeycode commented on #54
@amosavian I'm going through open issues now, so you'll see me replying to a bunch of them. Sorry to hit you all at once :)

What's the status of this? You closed it, but then reopened it soon thereafter without any comment. Is this still a problem?

[2017-10-07 20:34] abbeycode commented on #55
@amosavian I'm going through open issues now, so you'll see me replying to a bunch of them. Sorry to hit you all at once :)

Are you still taking a look at this, or should I close it out?

[2017-10-07 20:52] amosavian commented on #51
@abbeycode to create test case as I suggested in #56, You must have a file bigger than 4096 bytes (size of a chunk) in a password encrypted archive.

[2017-10-07 20:53] amosavian commented on #54
Sorry I forgot to close it. I made a PR with a function to create a directory inside zip as I remember to address this issue.

[2017-10-07 20:54] amosavian commented on #56
How about continuing discussion in #51?

[2017-10-07 20:54] #56 closed

[2017-10-07 20:55] amosavian commented on #55
This problem still exists. This only occurs when I create folder in zip, not a regular file.

[2017-10-07 20:56] abbeycode commented on #54
You created #57, but I closed it because I thought you asked me to. Should I reopen it?

[2017-10-07 20:58] abbeycode commented on #51
I somehow missed the 4096 byte comment back then. That's probably all I need to continue on it. Thanks! I'll let you know how it goes and if I have any other questions.

[2017-10-07 21:00] amosavian commented on #54
If you wish to have that method in main stream. Personally I implemented it via a swift extension in my code.
Btw, That code is not a solution for this issue.

[2017-10-07 21:02] abbeycode commented on #55
So steps to reproduce are the following?

1. In an archive add an empty directory (use `[NSData data]`)
2. Delete the directory created
3. Create that directory again

And then what happens at that point? Is an `NSError` returned?

[2017-10-07 21:03] amosavian commented on #51
Thanks in advance ❤️❤️❤️

[2017-10-07 21:04] abbeycode commented on #54
Could you paste it here for me to see? It's probably generally useful to be able to create empty directories in archives.

[2017-10-07 21:11] amosavian commented on #55
No, when I list archive files at then end, I get entry twice. Indeed deleted directory revives somehow.

[2017-10-07 21:18] amosavian commented on #54
This is my implementation : https://github.com/abbeycode/UnzipKit/pull/57/files

[2017-10-07 21:55] amosavian opened #65 "Integration with FilesProvider"
This is not an issue.

I maintain a project [amosavian/FileProvider](https://github.com/amosavian/FileProvider) which allows to browse and do file operations async. I've used it in [my applications](https://itunes.apple.com/us/app/file-manager-pdf-reader-music-player/id1017809685?mt=8).

I've written some extenstions, based on your work, to allow users browse zip/rar files and treat them like norm

[2017-10-09 18:56] abbeycode commented on #65
Looks cool, thanks for sharing!

[2017-10-09 18:56] #65 closed

[2017-10-11 12:53] abbeycode commented on #55
I created a test case again (this time it happens to be in Swift because the file with other `writeData` tests is in Swift. The test case is passing for me. Can you take a look again and see if we can modify it so it demonstrates your issue?

[2017-10-11 13:09] abbeycode commented on #54
Yeah, the implementation is straightforward. What's your use case for this?

[2017-10-11 20:44] #32 closed

[2017-10-12 01:57] abbeycode commented on #51
I was able to reproduce, and fix. Look for it in the first v1.9 beta!

[2017-10-12 15:54] #51 closed

[2017-10-13 13:04] abbeycode opened #68 "Compile with -Weverything flag"
This produces a ton of warnings, but the problem is I don't want any warnings reported for the `minizip` library. I can solve this by moving the `minizip` library into its own static library that'll get compiled in. Then I'll specify `-Weverything` for `UnzipKit`, and `-Wnone` for `minizip`. This was implemented in abbeycode/UnrarKit#56

- [x] Split `minizip` into its own library, linked into `Unz

[2017-10-13 13:05] abbeycode opened #69 "Send archived Carthage builds on release"
There's a guide on the [Carthage readme](https://github.com/Carthage/Carthage#use-travis-ci-to-upload-your-tagged-prebuild-frameworks). I implemented this on abbeycode/UnrarKit#57

[2017-10-14 01:57] #63 closed

[2017-10-15 00:19] abbeycode commented on #69
Worked in UnrarKit, scripts modified to match. Will test with next beta release.

[2017-10-15 00:19] #69 closed

[2017-10-16 11:46] #68 closed

[2017-10-16 11:50] abbeycode commented on #44
Since the longest build is only taking 10 minutes or so, this isn't necessary at this time. I may reopen it if that changes.

[2017-10-16 11:50] #44 closed

[2017-10-20 20:59] abbeycode commented on #55
@amosavian Have you had a chance to look at the test case I set up?

[2017-10-21 15:17] amosavian commented on #55
I did

[2017-10-22 19:22] abbeycode commented on #55
I pushed an update with the trailing slash, and the case still passes

[2017-11-01 16:14] v-vodyanov commented on #54
It would be good to have it, cause sometimes you just need to zip some directory with subdirectories and files "as it is", and without empty directories it will be not like that.

By the way, method mirroring "extractFilesTo" would also be awesome :)

[2017-11-03 22:57] brendand opened #72 "How to build a fat binary for iOS and simulator?"
Hi,

I downloaded the latest 1.9 beta version and I wanted to build a fat binary for iOS and the simulator. What's the proper way to do that from within Xcode? I tried building and archive, but I don't get a fat binary.

[2017-11-03 23:02] brendand commented on #72
Also, when I use the Archive command in Xcode and then export the product, I get libminizip.a as the only output. That's not the full UnzipKit.framework.

[2017-11-06 21:40] abbeycode commented on #54
@v-vodyanov Would you mind opening an issue for your `extractFilesTo` request, with more detail as to what you would like to see?

[2017-11-06 21:42] abbeycode commented on #72
I pushed a change that should hopefully take care of `libminizip.a` showing up, but I'm not clear on what you're trying to accomplish. I would recommend using Carthage if you want a binary of the framework, or you can download a copy of the built framework from the release's page on GitHub ([an example](https://github.com/abbeycode/UnzipKit/releases/tag/1.9-beta3)).

Build and Archive, as far as I

[2017-11-07 11:50] v-vodyanov opened #73 "Make recursive write method"
Sometimes, you just need some files to be added to archive recursively (including empty directories), so it would be nice to have such method. It supposed be kind of opposite to `extractFilesTo` one.

[2017-11-07 11:50] v-vodyanov commented on #54
Sure, here it is - #73

[2017-11-07 12:09] denis-ionov opened #74 "Empty folders not created during extraction"
Steps:
1. Create archive which contains folder with files and empty folder(s)
2. Unzip that archive

Result:
Empty folders does not exist after unpacking

[2017-11-07 12:55] abbeycode commented on #74
Is this a duplicate of #54 or #55? If not, can you please provide the code you're using to write an empty folder?

[2017-11-07 13:09] denis-ionov commented on #74
I'm not sure that this is duplicate of [#54](https://github.com/abbeycode/UnzipKit/issues/54) or [#55](https://github.com/abbeycode/UnzipKit/issues/55), because question is about unzip. Empty folders are present in archive, but does not exist after unzip. Maybe this issue is about extracting archive, not creating. If i'm wrong, i can provide some code of creating folder while create archive.

[2017-11-08 00:45] brendand commented on #72
I was just attempting to get a build that had bitcode support and a fat binary that I could deploy to the App Store. I knew that Archive would normally build with bitcode support.

I managed to build with bitcode support AND fat binary AND stripping out the Intel parts for deployment. Took a while to figure it all out. I just hadn't run my app in the simulator in a while and a few frameworks I was

[2017-11-08 12:54] abbeycode commented on #72
Cool, it sounds like you're all set?

Also, that's what Carthage basically does, is checks out libraries from GitHub and builds with Xcode for you to manually integrate with your project (in contrast with CocoaPods, which integrates itself into your workspace and builds static libraries it integrates. FYI, the binaries attached to the GitHub releases are produced by Carthage as part of the automat

[2017-11-08 12:57] abbeycode commented on #74
The most helpful thing you could do (likely to result in the swiftest resolution) would be to send a PR with a unit test (or multiple cases) demonstrating the issue. The next best would be to paste those cases into a comment on this issue.

[2017-11-08 22:07] brendand commented on #72
Yup, I'm all set. Thanks!

I'll have to look into Carthage.

[2017-11-08 22:28] #72 closed

[2017-11-08 23:04] brendand opened #75 "Performance of beta 1.9 beta 3 much slower than previous public release"
### Steps to reproduce issue (Detailed enough for me to reproduce):

When using the pre-built binary on macOS High Sierra, the current 1.9.3 beta version is significantly slower at compressing and de-compressing than the previous version I was using (from many months ago).

### What you expect to happen:

I expected the performance to be on-par at least.

### What actually happened:

It was signif

[2017-11-08 23:18] abbeycode commented on #75
It’s not doing anything with the CRC that it wasn’t before. What method are you calling, and is it possible to include the archive (or email it to me?)

[2017-11-09 00:45] brendand commented on #75
I'm using the following bit of code to write out an archive:

[code]

[2017-11-09 00:47] brendand commented on #75
And for extracting it seems I'm using a deprecated API:

[code]

I'll work on converting it to the recommended API.

[2017-11-10 01:16] abbeycode commented on #75
I deprecated that method because you don't need a `progress` block anymore - I support `NSProgress` and `NSProgressReporting`, which is what it looks like you're already using. You can use it implicitly or explicitly, with a guide on the README for the `1.9` branch.

To help me reproduce your issue, since I don't see anything blatantly wrong with your code, can you provide an example file you're c

[2017-11-10 02:46] brendand commented on #75
Sure, here's a file that I compressed:

https://www.dropbox.com/s/ddtgoajuj5iwg2k/Sample.tapforms-2017-11-09T19-12-36.zip?dl=0

It's 12.4 MB compressed.

It's 13.4 MB uncompressed.

With the older library it took 1.073878 seconds. With the new version it took 97.259650 seconds to compress the same document file. So almost a hundred times slower.

However, when I ran it in Instruments, it was about

[2017-11-11 01:26] abbeycode commented on #75
Take a look at the [v1.9 readme](https://github.com/abbeycode/UnzipKit/tree/v1.9#logging), and [Apple's documentation](https://developer.apple.com/documentation/os/logging)

[2017-11-11 02:55] brendand commented on #75
Doh! Now I feel silly. Yup. Setting the log level to default solved the problem. I'm just used to having to set arguments in the scheme settings to control logging.

I'll close this issue now. Thanks.

[2017-11-11 02:55] #75 closed

[2017-11-11 04:53] brendand opened #76 "Bad CFBundleExecutable uploading to iTunes Connect"
Using the pre-built binary for 1.9, at the end of uploading to iTunes Connect, I get the following error in the Xcode organizer window:

I had to remove the `CFBundleExecutable` property from the `Info.plist` file in the UnzipKitResources.bundle to get it to upload properly.

[2017-11-14 22:46] abbeycode commented on #76
Thanks for catching this one!

[2017-11-15 04:01] brendand commented on #76
Thanks for fixing it!

[2017-11-15 04:01] #76 closed

[2018-01-10 06:39] amosavian commented on #74
I've solved this issue for myself. I can send a PR.

[2018-02-02 02:45] abbeycode commented on #74
Please send the PR and I'll take a look. Thanks @amosavian!

[2018-02-09 07:47] alexthgil opened #77 "Can't unzip large file ~6Gb"
Hello)
Im trying to use UnzipKit and I have a little issue. I have an zip archive with one large file about ~6Gb.  I have an error when I'm trying to unzip this file.
I think I found similar issue

https://github.com/abbeycode/UnzipKit/issues/25

my code:
[code]

Console:

`Error Domain=UZKErrorDomain Code=-103 "Bad zip file" UserInfo={NSLocalizedFailureReason=Bad zip file, NSUnderlyingError=0x600

[2018-02-09 07:49] alexthgil commented on #77
I'm running on macOS.

[2018-02-13 01:59] abbeycode commented on #77
How did you install, with CocoaPods? If so, you can try stepping through and looking at the line where it's failing. Also, which version of UnzipKit are you using? Are there multiple different files like that you're having problems with, or is it just this one? I'd offer to take a look and see what I can determine, but it's a little tough for you to send me a 6 GB file to look at it myself, though

[2018-02-26 20:48] alexthgil commented on #77
hello) Sorry for hight ping respond.
Steps to reproduce:
1. Download linked file
2. Execute code from test project

I’m using ‘1.8.5’ on macOS 10.13.
Simple test project
https://drive.google.com/open?id=1LzpytHWCBBm1c_ss1PkVYuMZzAxM8zqF
Test file
https://drive.google.com/open?id=1p3CRu-rj9n2eVOkxn-iOlNGF_bSUrq_B

Thanks)

[2018-02-26 21:55] alexthgil commented on #77
Updated simple test project
https://drive.google.com/open?id=1_H_sisp4_L0D-erjSq1UurQdRr0s0PK8

[2018-02-27 14:01] abbeycode commented on #77
@alexthgil That's super helpful, thanks! I'll take a look when I can

[2018-03-20 22:01] abbeycode commented on #59
This has been merged, slated for `v1.5.0`

[2018-04-02 11:52] abbeycode commented on #59
It's in the first beta of 1.5.0. Try it out!

[2018-04-20 12:54] abbeycode commented on #59
Done. Finally!!!!!!

[2018-04-20 12:54] #59 closed

[2018-10-24 17:06] denis-ionov opened #79 "Compression methods is not working?"
Trying write file to archive with compression method set (`UZKCompressionMethod.none`), but this file in the final archive still have **deflated** (`UZKCompressionMethod.default`) compression method.

Example code:
`let archive: UZKArchive = try! UZKArchive(url: url)`
`try! archive.write(data, filePath: path, fileDate: nil, compressionMethod: UZKCompressionMethod.none, password: nil, progress: nil

[2018-11-05 18:51] abbeycode commented on #79
Thanks for noticing this, @denis-ionov. I don't change compression methods personally, but I'll write some test cases and see if this is a problem in the archival or in the listing.

[2018-11-09 08:05] denis-ionov commented on #79
@abbeycode I found that problem is in the method implementation - Default compression method passed to next write function call, instead of compression method parameter. Fix this by using "next" write method with overwrite parameter.

[2018-11-09 13:09] abbeycode commented on #79
Thanks for digging into it! I would welcome a pull request to address this, or else I'll fix it as soon as I have some availability.

[2018-11-12 14:58] abbeycode commented on #79
I merged your pull request into the v1.9 branch. Thanks for the contribution!

[2018-11-12 14:58] #79 closed

[2019-05-10 00:24] abbeycode commented on #74
This has been addressed with pull requests #78 and then #82, both now merged.

[2019-05-10 00:24] #74 closed

[2019-05-10 00:26] abbeycode commented on #54
@amosavian was this addressed already (a duplicate of #74)?

[2019-05-10 16:46] amosavian commented on #54
Yes I did

[2019-05-10 20:27] #54 closed

[2019-07-02 11:55] abbeycode opened #89 "Replace most method overloads of writeData and writeIntoBuffer with a UZKFileInfo instance"
There are far too many overloads of the `-writeData:...` and `-writeInfoBuffer:...` methods, which causes friction, complexity, and unnecessary bugs (e.g. #81, #85) due to incorrect and/or inconsistent values being passed as defaults from the shorter overloads.

Instead, add public initializers to `UZKFileInfo`, and update the most complicated overload to take that as the only argument, reading th

[2019-07-02 11:57] abbeycode opened #90 "Remove deprecated methods"
A bunch of methods and initializers were marked as deprecated in v1.9. Remove them for v2.0. The initializers were class factory methods, which don't work well with Swift, and the methods tags progress blocks instead of using the `NSProgress` API.

[2019-07-02 12:11] abbeycode commented on #55
I just updated the `emptydir` branch so the test case I wrote is on the latest v2.0 branch. Do you have any time to modify that test case to reproduce your issue in a PR?

[2019-07-02 12:26] abbeycode opened #91 "Improve extraction progress reporting"
In v1.9, the `NSProgress` implementation for `-extractFilesTo:overwrite:error:` only reports progress for the number of files extracted, but doesn't show any progress over the time an individual file is being extracted, which can be meaningful for large files.

[2019-07-02 12:49] abbeycode opened #93 "Replace path-based APIs with URL-based ones"
This obviously refers to methods interacting with the filesystem. Internal to the Zip files there are no URLs, only file paths. Don't remove the old methods in this release - just deprecate them.

[2019-07-03 02:07] abbeycode commented on #90
Merged into the v2.0 branch in PR #92.

[2019-07-03 02:15] #91 closed

[2019-07-03 02:16] #90 closed

[2019-07-04 02:26] #93 closed

[2019-07-05 02:55] MartinLau7 opened #96 "Minizip update to 2.x (recommended)"
Hi @abbeycode, I know that UnzipKit is currently based on 1.x as the base library, but he seems to be out of date.
I recommend updating it to minizip2.x in a future release, 2.x supports Zlib, BZIP2, and LZMA compression methods and even more and better features and performance.

[2019-08-01 12:38] abbeycode commented on #96
@MartinLau7 version 2 of the library is a fork of the original MiniZip, which is still being maintained, though not updated often, and with features not being added. The new version is a fork that gave MiniZip a complete overhaul, and totally changed the interface. We could enable the compatibility layer, but to get the newer features it added beyond the original I think we'd need to use the under

[2019-08-01 12:39] abbeycode commented on #55
@amosavian I'm going to close this, since I haven't heard back from you in a while. Please feel free to reopen if you'd like to work with me on this at some point.

[2019-08-01 12:39] #55 closed

[2019-08-20 13:18] abbeycode commented on #89
The PR, as written, went in a different direction, keeping UZKFileInfo a class that's read-only to API consumers, and introducing a new ZipFileProperties class (written in Swift), which can be modified and passed to the new overloads of `-writeData:...` and `-writeIntoBuffer:...`.

[2019-09-19 07:40] KorolkovAnton163 opened #98 "Performance issues after upgrading to v1.9"
After the upgrade, performance issues appeared. A little research was done and revealed that this is due to logging. I would like to see the ability to turn off logging.

[2019-09-19 14:16] abbeycode commented on #98
Have you tried configuring the logging to either make it less verbose or disable it altogether, as described [in the Readme](https://github.com/abbeycode/UnzipKit#logging)? The `default` logging level should result in no messages being output, and I've personally seen this speed up running UnzipKit in Xcode.

[2019-09-20 07:09] UksusoFF commented on #98
@abbeycode yes changing log level speed up working. But we need any way to change this level in xcode projects.
It's really not conveniently change this on each developers machine.

Related issue: #75

[2019-09-20 13:42] abbeycode commented on #98
In your build scheme, can you try setting the `OS_ACTIVITY_MODE` environment variable to `disable`? If that works, I'll make this ticket a documentation request to add this instruction to the readme.

[2019-09-24 09:10] KorolkovAnton163 commented on #98
Sorry it took so long did not answer, you proposed option works, but not for us as it is necessary to affix each developer. I would like to have the option of modifying or disabling logging during assembly.

[2019-09-24 13:42] KorolkovAnton163 commented on #98
Yes, end users do not have performance problems, but I would like to see the ability to disable logging by the parameter in the build settings, because we often have to run the build for development on non-developer computers (eg QA), and in addition, it completely disables system logging, which in our case is unacceptable. We will be very grateful if you make this functionality.

[2019-09-24 20:40] abbeycode commented on #98
Sorry, I'm trying to understand exactly what your situation is to propose the best solution. Is it slowing down your unit tests or something? If so, you can update the environment variables in the scheme you use for unit testing. If you want to disable only UnzipKit's logs, you can run the command below, as mentioned in the readme:

    sudo log config --mode "level:default" --subsystem com.abbey-

[2019-09-25 08:13] KorolkovAnton163 commented on #98
We consulted and decided that the option of adding a command to a script that collects dependencies and running tests is suitable for us. Thank you for the answer. I close Issue.

[2019-09-25 08:13] #98 closed

[2019-11-05 21:59] abbeycode opened #99 "Unhandled exception in +pathIsAZip:"
This line can throw an `NSFileHandleOperationException` exception, which is a documented eventuality when the file can't be read:

    NSData *fileData = [handle readDataOfLength:4];

Instead of crashing, log the exception and return `NO`.

[2019-11-07 23:09] #99 closed

[2019-11-14 08:22] denis-ionov opened #101 "Carthage build crashed on Xcode 11"
Xcode version 11.2.1 (11B500)

[2019-11-14 08:29] denis-ionov opened #102 "Carthage build crashed on Xcode 11"
Xcode version 11.2.1 (11B500)
UnzipKit version 1.9

Build error:
[code]

Carthage log:
[code]

It seems that the problem in type casting.

[2019-11-14 08:29] #101 closed

[2019-11-14 12:47] abbeycode commented on #102
Thanks for pointing this out! I'll take a look at getting the next version (v2.0, in beta now) to compile cleanly on Xcode 11.

[2019-11-14 13:40] abbeycode commented on #102
I just verified that it looks like Carthage should work fine on v2.0, if you want to start using that branch.

[2019-11-14 13:40] #102 closed

[2020-02-13 13:24] #89 closed

[2020-02-20 14:03] abbeycode opened #103 "Multiple instances of UZKArchive lose thread safety"
If you attempt to read from a `UZKArchive` instance while another `UZKArchive` instance is writing to the same underlying file in a different thread, exceptions are thrown. The `@synchronized` lock in `-performActionWithArchiveOpen:inMode:error:` is apparently not sufficient in this case, working only within a single instance of the archive.

[2020-02-25 13:25] abbeycode opened #104 "Allow archive recovery with central directory header is missing or damaged"
When an archive's central directory header is corrupted ([see this file](https://comickaze-user-uploads.s3.amazonaws.com/IM086.cbz) for an example), you can still search through the archive for local file headers, which is a lot slower than using the central directory header.

* Add a new `-validateArchive` method that returns whether the archive metadata is good or has problems
* Add a new swift

[2020-02-27 13:07] abbeycode commented on #77
I am SO sorry it took me a year (_exactly a year, which is creepy_) to look at this. I largely work on open source projects when I'm away from reliable internet, and kept forgetting to download the file when I was.

I looked at it now, and I'm not sure the 6 GB file you sent is actually a zip format archive. Is there any app (or library) you've used to successfully extract it? I tried BetterZip wi

[2020-02-27 13:07] #77 closed

[2020-03-13 08:14] shijian910411 opened #105 "s->cur_file_info.compression_method response 99"
hi

Compress zip with WinRAR and set password, return Error opening archive （103）
s->cur_file_info.compression_method response 99。
What do I need to do to work properly

thanks

[2020-05-20 02:42] abbeycode commented on #105
Hey, sorry I didn't respond earlier. In case you didn't come to a resolution yet, I think you're going to want to use a library for decompressing RAR archives. UnzipKit is for ZIP format archives. I can recommend my own [UnrarKit](https://github.com/abbeycode/UnrarKit) library. Please try that and let me know if that works for you.

[2020-05-20 02:42] #105 closed

[2021-03-14 03:28] abbeycode opened #106 "Buffer overrun when deleting file from archive"
The overrun occurs on line 1100 of zip.c when running `-[UZKArchive deleteFile:error:]`:

    size_comment = (uInt)strlen(comment);

You can get the exact stack trace by running the `DeleteFileTests` unit tests with the Address Sanitizer turned on. It looks like this happens for any file in an archive with no comment, because on line 1464 of UZKArchive it's allocating a zero-length buffer when the

[2021-03-14 04:08] abbeycode opened #107 "Use of deallocated buffer while recovering from nested file write"
Run the test case `-[ModesTests testModes_NestedWrites]` with the Address  Sanitizer turned on, and the `-[UZKArchive closeFile:inMode:]` method gets called for the inner write, causing the outer write to use a deallocated pointer when it attempts to close the archive. Instead, don't close the file when the inner write fails to open the file.

[2021-03-14 05:16] #106 closed

[2021-03-16 03:13] #107 closed

[2022-06-16 06:54] SravanPeddi opened #110 "Reading files in zip folder without unzip"
Hi Team,

I want to read one file from zip folder without unzip/exract. I am using following snippet.

    UZKArchive *archive = [[UZKArchive alloc] initWithPath:zipPath password:@"49445" error:&archiveError];
    NSError *error = nil;
    NSArray<NSString*> *filesInArchive = [archive listFilenames:&error];
    NSLog(@"filesInArchive %@",filesInArchive);
    for(UZKFileInfo *info in [archive listF

[2022-06-16 16:14] SravanPeddi opened #111 "Unable to extract Zip folder contents if zip has password"
Hi Team,

Unable to unzip files in zip folder if zip having password.
Used following snippet to extract.

 NSError *archiveError = nil;
    UZKArchive *archive = [[UZKArchive alloc] initWithPath:zipPath password:@"12345" error:&archiveError];

    BOOL extractFilesSuccessful = [archive extractFilesTo:[self getDocumentsPath] overwrite:YES error:&error];

Here extractFilesSuccessful  is giving as NO

[2022-06-16 18:02] abbeycode commented on #111
I'm going to close this one as a duplicate of #110, as I believe it's most likely the same underlying problem.

[2022-06-16 18:02] #111 closed

[2022-06-16 18:05] abbeycode commented on #110
I'm still curious to see what is in the `NSError`, but I also have some unit tests that deal with passwords, which may help you figure out what's going wrong. I've linked to a couple of examples below.

https://github.com/abbeycode/UnzipKit/blob/master/Tests/PasswordProtectionTests.m
https://github.com/abbeycode/UnzipKit/blob/master/Tests/ExtractFilesTests.m#L38

[2022-06-17 05:19] SravanPeddi commented on #110
I am getting following error

Error Domain=UZKErrorDomain Code=-103 "Bad zip file" UserInfo={NSLocalizedFailureReason=Bad zip file, NSLocalizedRecoverySuggestion=Error opening archive (-103), NSURL=file:///Users/sravanpeddi/Library/Developer/CoreSimulator/Devices/B8E1609D-21D9-4C9A-8FF7-01AE9FB49AC6/data/Containers/Bundle/Application/06C48480-CFBB-4E43-BB9A-B721313B384D/SampleUnZip.app/complete_49

[2022-06-17 16:19] abbeycode commented on #110
You're able to extract it using Archive Utility? Are you able to send me the file and password privately, so I can take a look? You can DM me on Twitter: [@bbeyCode](https://twitter.com/bbeyCode).

[2022-06-17 16:55] SravanPeddi commented on #110
[SampleUnZip.zip](https://github.com/abbeycode/UnzipKit/files/8929365/SampleUnZip.zip)
Yes. i have attached sample project which has zip file.

[2022-06-22 16:08] SravanPeddi opened #112 "Getting Crash while retrieving listFilenames"
Hi Team,

Getting crash in following line in mz_zip.c
Here is code which i used.
        NSError *archiveError = nil;
        UZKArchive *archive = [[UZKArchive alloc] initWithURL:[NSURL fileURLWithPath:filePath] password:nil error:&archiveError];
        NSError *error = nil;
        NSArray<NSString*> *filesInArchive = [archive listFilenames:&error];

int32_t mz_zip_entry_is_open(void *handle) {

[2022-06-24 03:32] abbeycode commented on #110
I was able to reproduce with the archive you included in your project, successfully unarchiving with other apps, and seeing the error you did with UnzipKit. I'm not yet sure what's going on, but will take a look.

[2022-06-24 04:41] abbeycode commented on #110
What's causing your issue is that the archive you sent is using the AES compression method, which isn't supported yet. I've updated your issue to turn it into a feature request for supporting this compression method. In the meantime, I'm adding to the v2.0 branch a new error code (UZKErrorCodeAES) for this case, so at least it's not mysterious (once my PR passes validation).

[2022-06-25 04:08] abbeycode commented on #112
It looks, from the logs, like this is the same sort of archive you were unzipping in issue #110, isn't it? If so, let me know if the changes that are now in the v2.0 branch cause the code to yield a `UZKErrorCodeAES` error instead of crashing.